.table{
    width: 100%;
    border: solid 1px rgb(214, 212, 212) ;
    margin:100px 0px;
}

.total-price{
    display: inline;
    margin: 50%;
}

.container{
    width: 65%;
    margin: 100px;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    min-height: 51vh;
}

tr{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
}

.text-h1{
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 200px auto;
}